<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /pharmacy/sree-manju-pharmacy/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /pharmacy/sree-manju-pharmacy/index.html [L]
</IfModule>
